header {
    text-align: center;
}
body{
    align-content: center;
    width: 100%;
}


#main {
    text-align: center;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

img {
    visibility: hidden;
}
